*{
  margin: 0;
  padding: 0;
}

.main{
  width: 100%;
  margin: 0;
   padding: 0;
   bottom: 200%;
  background: url(pic/bg.jpg);
  background-position: center;
  background-size: cover;
  height: 120vh;

  font-family: sans-serif;
  box-sizing: border-box;
}
/* styles.css */

/* Style for the logo
.logo {
  width: 500px;
  height:200px;
  border: 2px solid white;
  border-radius: 8px;
  Add any other styles you want here */
  
/* }
 */

.navbar{
  width: 86%;
  display: flex;
  margin: auto;
  padding: 15px 0;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo{
  width: 160px;
  cursor: pointer;
  margin-top: -3%;
  margin-left: -2%;
}

ul{
  position:fixed left;
  margin-top: 10%;
}

ul li{
  list-style: none;
  display: inline-block;
  padding: 10px 16px;
}

ul li a{
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(8, 10, 10);
  margin-top: -3%;
  transition: .4s ease;

}

ul li a:hover{
  color:rgb(38, 38, 219);
}

.info{
  margin-left: 7%;
  margin-top: 6%;
  position:absolute;
  top: 150%;
  bottom: 20%;
}

.about-us{
  margin-left: 7%;
  margin-top : 6%;
  position:absolute;
  top : 150%;
  bottom : 100%;
}


.info h1{
  font-size: 65px;
  color: rgb(14, 13, 13);
}

.info h3{
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 24px;
}

.info span{
  color:rgb(19, 19, 94);
}


.info a:hover{
  background: rgb(59,174,209);
}
/* Additional custom CSS styles */
/* ... */

/* Custom button style */
.btn-custom {
  text-decoration: aliceblue;
  /* Your custom button styles */
  /* For example: */
  background-color: #154d72;
  border: none;
  width: 180px;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 320px;
  transition: background-color 0.3s ease;
}
/* 
.btn-custom:hover {
  background-color: #ff6600; /* Change the color on hover */
/* } */ */


/* Styles for the button */
/* button {
  width: 180px;
  color: #000;
  font-size: 12px;
  padding: 12px 0;
  background: #fff;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-bottom: 30px;
} */
/* Glow effect on hover */


.container {
  position: relative;
  width: 100%; /* Adjust width if needed */
  height: 500px; /* Adjust height if needed */
}

.container img {
  position: absolute;
  bottom: -20%;
  right: 0%;
  width: 500px; /* Adjust image width */
  height: auto; /* Maintain aspect ratio */
}


.image:hover .lawyer{
  left: 100%;
}
/* styles.css */

/* Style for the bouncing image */
.bounce-image {
  width: 350px;
  /* Other styles for your image */
  position: absolute;
  height: 200%;
  bottom: 0;

  animation: bounce 2s infinite; /* Apply the bounce animation */
}


/* Define the bouncing animation */
@keyframes bounce {
  0% {
    transform: translateY(0); /* Initial position */
  }
  50% {
    transform: translateY(-20px); /* Bounce up */
  }
  100% {
    transform: translateY(0); /* Return to the original position */
  }
}